.alert {
  padding: calc(var(--spacing) / 3);
  border-radius: var(--base-border-radius);
  color: var(--white);
  font-weight: var(--font-semi-bold);
  margin-bottom: calc(var(--spacing) / 2);
  text-align: center;
  width: 100%;
  z-index: 99;
  background-color: var(--color-1);
  color: var(--color-2);

  &.fixed {
    position: fixed;
    top: null;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
}

.alert-close {
  cursor: pointer;
  float: right;
  line-height: var(--base-line-height);
  margin-right: calc(var(--spacing) / 2);
}
