/*
* Badges
*/
.badge {
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  color: var(--color-2);
  background-color: var(--color-1);
  border-radius: var(--base-border-radius);
  display: inline-block;
  font-size: 90%;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;

  &:empty {
    display: none;
  }

  /* Colors */

  /* Modifiers */
  &.small {
    font-size: 80%;
    padding: calc(var(--spacing) / 6) calc(var(--spacing) / 3);
  }
}
