/*
* Buttons
*/
.button {
  @apply appearance-none rounded cursor-pointer inline-block font-semibold py-3 px-4 text-center bg-primary border border-solid border-primary text-white;
  text-decoration: none;
  transition: background-color var(--base-duration) var(--base-timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &.active {
    background-color: var(--color-1-s-125);
    border-color: var(--color-1-s-125);
    color: var(--color-2);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px var(--color-1-a-005);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: var(--color-1);
    }
  }

  /* Modifiers */
  &.block {
    display: block;
    width: 100%;
  }
  &.small {
    font-size: 0.9rem;
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  }

  /* Outline */
  &.outline {
    background-color: transparent;
    border: 1px solid var(--color-1);
    color: var(--color-1);

    &:hover,
    &.active {
      background-color: var(--color-1);
      color: var(--color-2);
    }
  }
}
