.modal-mask {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.35);
}

.modal {
  margin: calc(var(--spacing) * 2) auto;
  padding: calc(var(--spacing) * 1.5);

  background-color: var(--white);
  border-radius: var(--base-border-radius);
  max-height: calc(100% - calc(var(--spacing) * 4));
  box-shadow: 0 5px 20px rgba(128, 128, 128, 0.1);

  max-width: 36rem;
  overflow: auto;
  position: relative;

  &.small {
    max-width: 24rem;
  }

  &.large {
    max-width: 60rem;
  }
}

.modal-close {
  position: absolute;
  top: calc(var(--spacing) / 1.5);
  right: calc(var(--spacing) / 1.5);
  color: var(--primary);
  cursor: pointer;
  line-height: 0;
  color: var(--medium-gray);
}
