:root {
  --navbar-height: 52px;
}

nav {
  background-color: var(--color-1);
  padding: 0 calc(var(--spacing) / 2);
  text-align: center;

  @media (--medium-screen-up) {
    display: flex;
    text-align: left;
    align-content: space-around;
    flex-wrap: wrap;
  }

  & a {
    padding: calc((var(--navbar-height) - var(--base-font-size)) / 2) calc(var(--spacing) / 2);
    color: var(--color-2);
    display: inline-block;
    line-height: 1;
    white-space: nowrap;

    &:hover {
      background-color: var(--color-1-s-050);
      color: var(--color-2);
      text-decoration: none;
    }

    &.active {
      background-color: var(--color-1-s-050);
    }
  }

  &.fixed {
    position: fixed;
    z-index: 99999;
  }

  & .badge {
    display: inline;
  }
}

.nav-right,
.nav-left {
  display: none;

  @media (--medium-screen-up) {
    display: inline-flex;
  }

  &.nav-responsive {
    @media (--medium-screen-down) {
      display: block;
    }
  }
}

.nav-left {
  @media (--medium-screen-up) {
    flex: auto;
  }
}

.nav-responsive-button {
  float: right;
  display: inline-block;
  @media (--medium-screen-up) {
    display: none;
  }
}

.nav-logo {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  padding: calc((var(--navbar-height) - var(--big-font-size)) / 2) calc(var(--spacing) / 2);

  &:hover {
    background-color: inherit;
  }
  &:active {
    background-color: transparent;
  }

  & i,
  & svg {
    margin-right: calc(var(--spacing) / 6);
  }
}

.nav-avatar {
  display: inline-block;
  line-height: 0;
  margin-right: calc(var(--spacing) / 6);
  vertical-align: middle;

  & img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.nav-notification {
  position: relative;

  &::after {
    position: absolute;
    top: 10px;
    right: 5px;

    background-color: var(--red);
    border-radius: var(--base-border-radius);
    content: attr(data-notification);
    font-size: var(--small-font-size);
    padding: 0 calc(var(--spacing) / 6);
    text-align: center;
  }
}
