.nav-dropdown {
  display: inline-block;
  position: relative;

  &:hover {
    & .nav-dropdown-button {
      background-color: var(--color-1-s-050);
    }

    & .nav-dropdown-content {
      display: block;
    }
  }
}

.nav-right {
  & a {
    text-align: left !important;
  }
}

.nav-dropdown-content {
  background-color: var(--color-1);
  position: absolute;
  right: 0;
  display: none;
  min-width: 120px;
  width: 100%;
  z-index: 999999;

  & a {
    display: block;
    text-align: right;
  }
}

.nav-dropdown-icon {
  margin-left: calc(var(--spacing) / 8);
}

.nav-responsive {
  & .nav-dropdown-content {
  }
}
