.nav-dropdown {
  @apply relative flex;

  &:hover {
    & .nav-dropdown-button {
      @apply bg-primary-dark;
    }

    & .nav-dropdown-content {
      @apply block;
    }
  }
}

.nav-left {
  & .nav-dropdown-content {
    & a {
      @apply text-left;
    }
  }
}

.nav-right {
  & .nav-dropdown-content {
    @apply pin-r;
  }
}

.nav-dropdown-content {
  @apply bg-primary absolute pin-l hidden z-40;
  top: 100%;
  min-width: 120px;
  width: max-content;

  & a {
    @apply block text-right;
  }
}

.nav-dropdown-icon {
  @apply mr-1;
}

.nav-dropdown-icon-arrow {
  @apply ml-2;
}
