/*
* Progress bar
*/

.progress-bar {
  border-radius: var(--base-border-radius);
  border: 1px solid var(--light-gray);
  padding: 2px;
  background-color: white;
}

.progress-bar-content {
  text-align: center;
  border-radius: var(--base-border-radius);
  display: block;
  padding: 0 2px;
  max-width: 100%;

  background-color: var(--color-1);
  color: var(--color-2);
}
