html {
  @apply font-sans text-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans
  /* margin: 0 0 calc(var(--spacing) / 2); */
  /* line-height: var(--heading-line-height); */;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}

p {
  /* margin: 0 0 calc(var(--spacing) / 2); */
}

a {
  @apply cursor-pointer text-primary no-underline;

  transition: color 150ms;

  &:hover {
    @apply text-primary-dark;
  }
}

hr {
  /* margin: var(--spacing) 0; */

  /* border-bottom: var(--base-border); */
  /* border-left: 0;
  border-right: 0; */
  /* border-top: 0; */
}

pre {
  @apply overflow-y-scroll;
}

code {
  @apply text-base;
}

blockquote {
  /* margin: 0 calc(var(--spacing) / 4); */

  /* border-left: 5px solid var(--medium-gray);
  color: var(--medium-gray);
  padding-left: var(--spacing); */
}
