/* Utilities */

/* Floats */

.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* Text Alignment */

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Text Transform */

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

/* Font weight and italics */

.font-light {
  font-weight: var(--font-light);
}
.font-regular {
  font-weight: var(--font-regular);
}
.font-medium {
  font-weight: var(--font-medium);
}
.font-semi-bold {
  font-weight: var(--font-semi-bold);
}
.font-bold {
  font-weight: var(--font-bold);
}
.font-extra-bold {
  font-weight: var(--font-extra-bold);
}
.font-italic {
  font-style: italic;
}

/* Text Colors */

.color {
  color: var(--color-1);
}

.background {
  background: var(--color-1);
}

.color-background {
  color: var(--color-2);
  background: var(--color-1);
}

.margin-top,
.margin-right,
.margin-bottom,
.margin-left,
.margin-horizontal,
.margin-vertical,
.margin {
  --multiplier: 1.5;

  &.none {
    --multiplier: 0;
  }

  &.small {
    --multiplier: 1;
  }

  &.large {
    --multiplier: 2;
  }
}

.margin-top {
  margin-top: calc(var(--spacing) * var(--multiplier));
}
.margin-right {
  margin-right: calc(var(--spacing) * var(--multiplier));
}
.margin-bottom {
  margin-bottom: calc(var(--spacing) * var(--multiplier));
}
.margin-left {
  margin-left: calc(var(--spacing) * var(--multiplier));
}
.margin-horizontal {
  margin-left: calc(var(--spacing) * var(--multiplier));
  margin-right: calc(var(--spacing) * var(--multiplier));
}
.margin-vertical {
  margin-top: calc(var(--spacing) * var(--multiplier));
  margin-bottom: calc(var(--spacing) * var(--multiplier));
}
.margin {
  margin: calc(var(--spacing) * var(--multiplier));
}

.padding-top,
.padding-right,
.padding-bottom,
.padding-left,
.padding-horizontal,
.padding-vertical,
.padding {
  --multiplier: calc(1 / 2);

  &.none {
    --multiplier: 0;
  }

  &.small {
    --multiplier: calc(1 / 4);
  }

  &.large {
    --multiplier: 1;
  }
}

.padding-top {
  padding-top: calc(var(--spacing) * var(--multiplier));
}
.padding-right {
  padding-right: calc(var(--spacing) * var(--multiplier));
}
.padding-bottom {
  padding-bottom: calc(var(--spacing) * var(--multiplier));
}
.padding-left {
  padding-left: calc(var(--spacing) * var(--multiplier));
}
.padding-horizontal {
  padding-left: calc(var(--spacing) * var(--multiplier));
  padding-right: calc(var(--spacing) * var(--multiplier));
}
.padding-vertical {
  padding-top: calc(var(--spacing) * var(--multiplier));
  padding-bottom: calc(var(--spacing) * var(--multiplier));
}
.padding {
  padding: calc(var(--spacing) * var(--multiplier));
}

/* Display */

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

/* Others */

.rounded {
  border-radius: var(--base-border-radius);
}

.squared {
  border-radius: 0;
}

.squared-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.squared-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.circle {
  border-radius: 50%;
}
